.n_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
}

.Nav {
  position: fixed;
  top: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.n_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.navblack {
  background-color: black;
}
